%div{:class => 'query-options'}
  =form_tag(new_query_path, method: :get) do
    %div{:class => 'query-options-row'}
      =label_tag(:jobs_retained, "Jobs Retained")
      =text_field_tag(:jobs_retained, params[:jobs_retained])
      =label_tag(:business_name, "Business Name")
      =text_field_tag(:business_name, params[:business_name])
      =label_tag(:amount_approved, "Amount of Award")
      =text_field_tag(:amount_approved, params[:amount_approved])
    %div{:class => 'query-options-row'}
      =label_tag(:ein, "EIN")
      =text_field_tag(:ein, params[:ein])
      =label_tag(:bin, "BIN")
      =text_field_tag(:bin, params[:bin])
      =label_tag(:naics, "NAICS")
      =text_field_tag(:naics, params[:naics])
      =label_tag(:business_size, "Business Size")
      =text_field_tag(:business_size, params[:business_size])
    %div{:class => 'query-options-row'}
      =label_tag(:zip, "ZIP")
      =text_field_tag(:zip, params[:zip])
      =label_tag(:county, "County")
      =text_field_tag(:county, params[:county])
      =label_tag(:city, "City")
      =text_field_tag(:city, params[:city])
    %div{:class => 'query-options-row'}
      %h4{:class => 'demo-header'} Business Type:
      =check_box_tag(:sole)
      =label_tag(:sole, "Sole")
      =check_box_tag(:prop_partnership)
      =label_tag(:prop_partnership, "Prop Partnership")
      =check_box_tag(:corporation)
      =label_tag(:corporation, "Corporation")
      =check_box_tag(:llc)
      =label_tag(:llc, "LLC")
      =check_box_tag(:c3)
      =label_tag(:c3, "501(c)(3)")
    %div{:class => 'query-options-row'}
      %h4{:class => 'demo-header'} Race:
      =check_box_tag(:american_indian, params[:american_indian])
      =label_tag(:american_indian, "American Indian or Alaska Native")
      =check_box_tag(:asian, params[:asian])
      =label_tag(:asian, "Asian")
      =check_box_tag(:native_hawaiian, params[:native_hawaiian])
      =label_tag(:native_hawaiian, "Native Hawaiian or Pacific Islander")
      =check_box_tag(:white, params[:white])
      =label_tag(:white, "White")
      =check_box_tag(:other, params[:other])
      =label_tag(:other, "Other")
      =check_box_tag(:race_no_answer, params[:race_no_answer])
      =label_tag(:race_no_answer, "Prefer not to answer")
    %div{:class => 'query-options-row'}
      %h4{:class => 'demo-header'} Ethnicity:
      =check_box_tag(:non_hispanic_latino)
      =label_tag(:non_hispanic_latino, "Non-Hispanic Latino")
      =check_box_tag(:hispanic_latino)
      =label_tag(:hispanic_latino, "Hispanic Latino")
      =check_box_tag(:ethnicity_no_answer)
      =label_tag(:ethnicity_no_answer, "Prefer not to answer")
    %div{:class => 'query-options-row'}
      %h4{:class => 'demo-header'} Gender:
      =check_box_tag(:female)
      =label_tag(:female, "Female")
      =check_box_tag(:male)
      =label_tag(:male, "Male")
      =check_box_tag(:gender_no_answer)
      =label_tag(:gender_no_answer, "Prefer not to answer")
    %div{:class => 'query-options-row'}
      =label_tag(:percent_ownership, "Percent Ownership")
      =text_field_tag(:percent_ownership, params[:percent_ownership])
    %div{:class => 'query-options-row'}
      =submit_tag ("Submit Query")

%div{:id => 'rounds-drop-down'}
  %select
    %option{:value => 'All reports'} All Reports
    %option{:value => 'Final report round 1'} Round 1
    %option{:value => 'Final report round 2'} Round 2
    %option{:value => 'Final report round 3'} Round 3
    %option{:value => 'Final report round 4'} Round 4

%h3{:class => 'query-result-header'}= "Number of Applicants: " + @applications.length().to_s()
%h3{:class => 'query-result-header'} Percentage of Applicants: ---
%h3{:class => 'query-result-header'}  Amount Rewarded: ---
    

%div{:id => 'query-table'}
  %table
    %tr
      %th Business Name
      %th City
      %th Zip Code
      %th County
      %th EIN
      %th NAICS
      %th Round Number
      %th Jobs Retained
      %th Amount Approved
      %th Number Of Employees
      %th Owner Race
      %th Owner Ethnicity
      %th Owner Gender

    - @applications.each do |application|  
      %tr
        %td= application.business_name
        %td= application.city
        %td= application.zip
        %td= application.county
        %td= application.ein
        %td= application.naics
        %td= application.round
        %td= application.jobs_retained
        %td= application.amount_approved
        %td= application.business_size
        %td= get_owner_race(application.company.owners)
        %td= get_owner_ethnicity(application.company.owners)
        %td= get_owner_gender(application.company.owners)

