= form_with(model: @owner) do |f|
  - if @owner.errors.any?
    #error_explanation
      %h2= "#{pluralize(@owner.errors.count, "error")} prohibited this owner from being saved:"
      %ul
        - @owner.errors.full_messages.each do |message|
          %li= message
  %div{:class => 'edit-check-options-row'}
    %h4{:class => 'demo-header'} Race:
    =f.radio_button(:race, "American Indian or Alaska Native")
    =label_tag(:race, "American Indian or Alaska Native")
    =f.radio_button(:race, "Asian")
    =label_tag(:race, "Asian")
    =f.radio_button(:race, "Native Hawaiian or Pacific Islander")
    =label_tag(:race, "Native Hawaiian or Pacific Islander")
    =f.radio_button(:race, "White")
    =label_tag(:race, "White")
    =f.radio_button(:race, "Other")
    =label_tag(:race, "Other")
    =f.radio_button(:race, "Prefer not to answer")
    =label_tag(:race, "Prefer not to answer")
  %div{:class => 'edit-check-options-row'}
    %h4{:class => 'demo-header'} Ethnicity:
    =f.radio_button(:ethnicity, "Non-Hispanic/Latino")
    =label_tag(:ethnicity, "Non-Hispanic/Latino")
    =f.radio_button(:ethnicity, "Hispanic/Latino")
    =label_tag(:ethnicity, "Hispanic/Latino")
    =f.radio_button(:ethnicity, "n/a")
    =label_tag(:ethnicity, "Prefer not to answer")
  %div{:class => 'edit-check-options-row'}
    %h4{:class => 'demo-header'} Gender:
    =f.radio_button(:gender, "Female")
    =label_tag(:gender, "Female")
    =f.radio_button(:gender, "Male")
    =label_tag(:gender, "Male")
    =f.radio_button(:gender, "Prefer not to answer")
    =label_tag(:gender, "Prefer not to answer")
  %div{:class => 'edit-options-row'}
    =label_tag(:percent_ownership, "Percent Ownership >=", :id => 'text-field-label')
    =text_field_tag(:percent_ownership, @owner.try(:percent_ownership))
  %div{:class => 'edit-options-row'}
    =label_tag(:business_name, "Business Name", :id => 'text-field-label')
    =text_field_tag(:business_name, @owner.try(:business_name))
    

  .actions
    = f.submit 'Save', data: { confirm: "Would you like to save these changes to the database?" }
