= form_with(model: @company) do |f|
  - if @company.errors.any?
    #error_explanation
      %h2= "#{pluralize(@company.errors.count, "error")} prohibited this company from being saved:"
      %ul
        - @company.errors.full_messages.each do |message|
          %li= message

  %div{:class => 'edit-options-row'}
    =label_tag(:business_name, "Business Name", :id => 'text-field-label')
    =f.text_field(:business_name)
    =label_tag(:business_size, "Number of Employees", :id => 'text-field-label')
    =f.text_field(:business_size)
  %div{:class => 'edit-options-row'}
    =label_tag(:ein, "EIN", :id => 'text-field-label')
    =f.text_field(:ein)
    =label_tag(:bin, "BIN", :id => 'text-field-label')
    =f.text_field(:bin)
    =label_tag(:naics, "NAICS", :id => 'text-field-label')
    =f.text_field(:naics)
  %div{:class => 'edit-options-row'}
    =label_tag(:phone, "Phone", :id => 'text-field-label')
    =f.text_field(:phone)
    =label_tag(:street_address, "Street Address", :id => 'text-field-label')
    =f.text_area(:street_address)
  %div{:class => 'edit-options-row'}
    =label_tag(:zip, "ZIP", :id => 'text-field-label')
    =f.text_field(:zip)
    =label_tag(:county, "County", :id => 'text-field-label')
    =f.text_field(:county)
    =label_tag(:city, "City", :id => 'text-field-label')
    =f.text_field(:city)
  %div{:class => 'edit-check-options-row'}
  %h4{:class => 'demo-header'} Business Type:
  =f.radio_button(:business_type, "Sole Proprietorship")
  =label_tag(:business_type, "Sole prop")
  =f.radio_button(:business_type, "Prop Partnership")
  =label_tag(:business_type, "Prop Partnership")
  =f.radio_button(:business_type, "Corporation")
  =label_tag(:business_type, "Corporation")
  =f.radio_button(:business_type, "LLC")
  =label_tag(:business_type, "LLC")
  =f.radio_button(:business_type, "501(c)3")
  =label_tag(:business_type, "501(c)(3)")
  %div{:class => 'edit-options-row'}
    =label_tag(:notes, "Notes", :id => 'text-field-label')
    =f.text_area(:notes)
  %div{:class => 'edit-check-options-row'}

  .actions
    = f.submit 'Save'
