%h1 Listing companies

=form_tag(companies_path, method: :get) do
  %div{:class => 'edit-options-row'}
    =text_field_tag(:search, params[:search])
    =submit_tag("search", :class => 'search-button')

%table
  %thead
    %tr
      %th Business Name
      %th ein
      %th bin
      %th NAICS 

  %tbody
    - @sorted.each do |company|
      %tr
        %td= company.business_name
        %td= company.ein
        %td= company.bin
        %td= company.naics
        %td= link_to 'Edit', company
        /%td= link_to 'Edit', edit_company_path(company)
        %td= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure? This will delete all applications for this company.' }
%br
