%p#notice= notice

%table
  %tr
    %th Business Name
    %th EIN
    %th BIN
    %th NAICS
    %th Zip
    %th County
    %th City
    %th Business Type
  %tr
    %td= @company.business_name
    %td= @company.ein
    %td= @company.bin
    %td= @company.naics
    %td= @company.zip
    %td= @company.county
    %td= @company.city
    %td= @company.business_type

-# = link_to 'Edit', edit_company_path(@company)
\|
= link_to 'Back', companies_path
