= form_for @upload, multipart: true do |f|
  - if @upload.errors.any?
    #error_explanation
      %h2= "#{pluralize(@upload.errors.count, "error")} prohibited this upload from being saved:"
      %ul
        - @upload.errors.full_messages.each do |message|
          %li= message
  %div{:class => 'query-options-row'}
    .field 
      =f.label :title, :id => 'text-field-label'
      =f.text_field :title
    %br
    .field 
      =f.label :round, :id => 'text-field-label'
      =f.text_field :round
    %br
    .field 
      =f.label :data
      =f.file_field :data

  .actions
    = f.submit 'Save'
  %br
